/*
 for background
 'app-gray-light': "#F5F6FA",
        //for article excerpt
        'app-gray': "#9798A7",
        //for article title
        'app-indigo': '#484987',
        //for the line before "lire plus"
        'app-turqoise': '#4DF0E0'
*/

.app-tag {
  background: linear-gradient(343.93deg, #4a9bb2 0%, #48337b 100%);
}
.app-lire-plus-line {
    content: "";
    background-color: #4DF0E0;
    height: 3px;
    width: 19px;
    margin-right: 0.25rem;
    border-radius: 20px;
}