/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* setting font  */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
/* .. */
/* specifics extracted from figma*/
.app-tag {
  background: linear-gradient(343.93deg, #4a9bb2 0%, #48337b 100%);
}
.app-lire-plus-line {
  background-color: #4df0e0;
  height: 3px;
  width: 19px;
  margin-right: 0.25rem;
  border-radius: 20px;
}
.app-search-bar-container {
  padding: 15px 0;
}
.app-article-list-item {
  margin: 20px 0;
}
.app-article-list-item-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #484987;
}

.app-article-list-item-paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #484987;
}
