/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* setting font  */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* specifics extracted from figma*/
.search-bar-container {
    padding: 15px 0;
}
.article-list-item {
    margin: 20px 0;
}
.article-list-item-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #484987;
}

.article-list-item-paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #484987;
}
