.fade-appear {
  opacity: 0;
  transform: scale(0.8);
}
.fade-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: all 200ms;
}
.fade-enter {
  opacity: 0;
  transform: scale(0.8);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: all 200ms;
}