.scale-appear {
  opacity: 0;
  transform: scale(0.7);
}
.scale-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in, transform 300ms ease-in ;
}
.scale-enter {
  opacity: 0;
  transform: scale(0.7);
}
.scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in, transform 300ms ease-in ;
}
.scale-exit {
  opacity: 1;
}
.scale-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in, transform 300ms ease-in ;
}